/* Has to be like this due to limitations on overriding overflow: hidden in virtualized table */
.pinningManager .ReactVirtualized__Table__row,
.pinningManager .ReactVirtualized__Table__Grid,
.pinningManagerColumn {
    overflow: visible !important;
}

.pinningManager .ReactVirtualized__Grid.ReactVirtualized__Table__Grid:focus {
    outline: none;
}
