.SelectedActions {
  background: #F0F6FA;
  border-color: #CFE0E2;
  color: #59595A;
}

.SelectedActions .SelectedCount {
  background-color: #69C4CD;
  color: #F9FAFB;
  width: 38px;
  height: 38px;
}

.SelectedCount span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SelectedActions .Size {
  color: #A4BFCC;
}
