
@media screen and (min-width: 60em)  {
  .File .CheckboxBox {
    position: absolute;
    transform: translateX(-100%);
  }

  .File .Checkbox {
    opacity: 0;
  }

  .File.selected .Checkbox,
  .File:hover .Checkbox {
    opacity: 1;
  }
}
