.File {
  border-color: #DBE0E3;
}

.File.coloured {
  background-color: #F0F6FA;
}

.File .name {
  color: #656464;
}

.File .ProgressBar {
  height: 11px;
}

.File .status,
.File .size {
  color: #A0B8C5;
}

.File .icon {
  width: 3.25rem;
}

.File .name > *:last-child {
  width: calc(100% - 3.25rem);
}
