/*
 * Main content
 */
.main {
  padding: 20px;
}

@media (max-width:768px) {
  body {
    padding-top: 49px;
  }

  @media (min-width:768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}
