.Radio > span:first-of-type {
  background-color: var(--theme-bg-secondary);
}

.Radio > input {
  left: -99999px;
}

.Radio input:checked + span span {
  opacity: 1;
}

.Radio > input:disabled + span {
  cursor: not-allowed;
  opacity: 0.5;
}

.Radio input:focus + span {
  outline: 1px solid var(--theme-border-primary);
}
