{
  "presets": ["@babel/env", "@babel/stage-0", "@babel/react"],
  "plugins": [
    "@babel/transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/transform-react-display-name"
      ]
    }
  }
}
