build/
node_modules/
.module-cache
cache/
npm-debug.log
publish
browserify-cache.json
*node_modules
.modified
dist/apps
dist/default_apps.json
dist/script.js
dist/style.css
**/dist/script.js
**/dist/style.css
