.pinningModalContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
}

.pinningModalContainer > button {
    padding-right: 24px;
    margin-right: 20px;
}
