
.LoadingAnimation {
  position: relative;
  overflow: hidden;
  opacity: 0.2;
  height: 100%;
}

.LoadingAnimation .Checkbox span {
  opacity: 1 !important;
}

.LoadingAnimationSwipe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 25%,
  white 70%,
    transparent 75%
  );
  animation: LoadingAnimationSwipe 1.6s ease-in-out infinite;
}

@keyframes LoadingAnimationSwipe {
  0% {
    transform: translate3d(-100%, 0, 0) skew(-20deg);
  }

  100% {
    transform: translate3d(100%, 0, 0) skew(0);
  }
}
