.mapFooter {
    pointer-events: none;
}

.mapDotExplanation {
    display: inline-block;
    border-radius: 50%;
}

.mapDot {
    pointer-events: all;
    animation: appearDot 0.3s ease-in-out both;
}

.no-events {
    pointer-events: none;
}

@keyframes appearDot {
    from { opacity: 0 }
    to { opacity : 1}
}