.fileImportStatus {
    left: 50%;
    transform: translateX(-50%);
}

.fileImportStatusButton svg {
    transition: transform 0.2s ease-in-out;
}

.fileImportStatusButton[aria-expanded="false"] svg {
    transform: rotate(180deg);
}

.fileImportStatusArrow {
    margin-left: auto;
    width: 1rem;
}

.fileImportStatusRow {
    height: 150px;
    overflow: auto;

    transition: height 0.2s ease-in-out;
}

.fileImportStatusRow[aria-hidden="true"] {
    height: 0
}

.fileImportStatusIcon {
    width: 50px
}

.fileLoadingIndicator {
    height: 4px;
    overflow: hidden;
}

.fileLoadingIndicatorBar {
    width: 25%;
    height: 100%;
    animation: fileLoadingIndicatorBar 2s ease-in-out infinite;
}

@keyframes fileLoadingIndicatorBar {
    0% { transform: translateX(-100%) }
    99.9% { transform: translateX(450%) }
    100% { transform: translateX(-100%) }
}
