
.FilesList .wrapper {
  position: relative;
}

.FilesList .wrapper.loading {
  overflow: hidden;
  opacity: 0.4;
  background-color: #f0f6fa;
}

.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 25%,
  white 70%,
    transparent 75%
  );
  animation: progress 1.6s ease-in-out infinite;
}

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
