.BreadcrumbsButton::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    background: currentColor;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.BreadcrumbsButton.white::after {
    background: inherit;
}

.BreadcrumbsButton.dragging::after {
    opacity: 1;
}

.BreadcrumbsButton.no-events {
    pointer-events: none;
}
