.Checkbox span:first-of-type {
  background-color: #DDE6EB;
}

.Checkbox input {
  left: -99999px;
}

.Checkbox input:checked ~ span:first-of-type svg {
  opacity: 1;
}

.Checkbox input:disabled ~ span:first-of-type {
  cursor: not-allowed;
  opacity: 0.5;
}
