.Checkbox > span:first-of-type {
  background-color: var(--theme-bg-secondary);
}

.Checkbox > input {
  left: -99999px;
}

.Checkbox input:checked + span svg {
  opacity: 1;
}

.Checkbox > input:disabled + span {
  cursor: not-allowed;
  opacity: 0.5;
}

.Checkbox input:focus + span {
  outline: 1px solid var(--theme-border-primary);
}
