.button-container {
  display: flex;
  width: 100%;
}

.error-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;

  color: #EA5037;
}
