.navbar-item-active {
  border-bottom: 5px solid rgba(201, 210, 215, .4);
}

.navbar-item-label {
  white-space: pre-wrap;
}

@media only screen and (max-width: 480px) {
  .navbar-item-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
  }
}

@media only screen and (max-width: 410px) {
  .navbar-item-label {
    max-width: 46px;
  }
}

@media only screen and (min-width: 60em) {
  .navbar-container {
    width: 9.25rem;
  }
  .navbar-item-active {
    border-left: 5px solid rgba(201, 210, 215, .4);
    border-bottom: 0;
  }
}

@media only screen and (min-height: 49em) and (min-width: 60em) {
  .navbar-logo-vert {
    padding-bottom: 1rem;
  }
  .navbar-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-height: 40em) {
  .navbar-footer {
    display: none;
  }
}
