@import "../node_modules/tachyons";
/* They forgot to include word break: https://github.com/tachyons-css/tachyons/issues/563 */
@import "../node_modules/tachyons/src/_word-break.css";
@import "../node_modules/ipfs-css";

body {
  overflow-y: scroll;
}

.placeholder-light::placeholder{
  color: #CAD3D8;
}

.bg-near-white {
  background-color: #fbfbfb;
}

html, body, #root {
  height: 100%;
}
