@import "../node_modules/tachyons";
@import "../node_modules/ipfs-css";

:focus .focus-underline,
.focus-underline:focus {
  text-decoration: underline;
}

:focus .focus-outline,
.focus-outline:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(201, 210, 215, .4);
}

.stroke-current-color {
  stroke: currentColor;
}

.fill-current-color {
  fill: currentColor;
}

.placeholder-light::placeholder{
  color: #CAD3D8;
}

.no-select {
  user-select: none;
}
