@import './reset.css';
@import './theme.css';
@import "../node_modules/tachyons";
/* They forgot to include word break: https://github.com/tachyons-css/tachyons/issues/563 */
@import "../node_modules/tachyons/src/_word-break.css";
@import "../node_modules/ipfs-css";

body {
  overflow-y: scroll;
}

.placeholder-light::placeholder{
  color: #CAD3D8;
}

.bg-near-white {
  background-color: #fbfbfb;
}

html, body, #root {
  min-height: 100%;
}

.appOverlay {
  width: 100%;
}

@media only screen and (min-width: 60em) {
  .appOverlay {
      width: calc(100% - 148px)
  }
}

/* =========================
    React Joyride overrides
   ========================= */

.react-joyride__tooltip button {
  font-size: 14px !important;
  font-family: 'Montserrat';
}

/* =========================
    macOS Electron Draggable Region Fix
   ========================= */

/* Fix: Interactive elements in draggable regions lose focus on macOS.
 * Sets no-drag to exclude inputs, buttons, etc. from parent drag regions.
 * See: https://github.com/ipfs/ipfs-desktop/issues/2943
 */
input:not([type="hidden"]),
textarea,
select,
button,
[role="button"],
[contenteditable="true"] {
  -webkit-app-region: no-drag !important;
  app-region: no-drag !important;
  pointer-events: auto;
}

/* =========================
    Custom tachyons classes
   ========================= */
.hover-o-100:hover, .hover-o-100:focus {
  opacity: 1;
}

.hover-o-90:hover, .hover-o-90:focus {
  opacity: 0.9;
}
