on:
  workflow_call:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 18.14.0
      - name: Setup npm@9.6.0
        run: |
          npm install -g npm@9.6.0

      - name: Cache bigger downloads
        uses: actions/cache@v2
        id: cache
        with:
          path: ${{ github.workspace }}/.cache
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --progress=false --cache ${{ github.workspace }}/.cache/npm

      # Separate cache for build dir, we reuse it in release publish workflow
      - name: Cache build output
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/cache@v2
        id: build-cache
        with:
          path: build
          key: ${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ github.sha }}

      - name: Confirm build works
        if: steps.build-cache.outputs.cache-hit != 'true'
        run: npm run build

      # Persist produced build dir:
      # - this is not for releases, but for quick testing during the dev
      # - action artifacts can be downloaded for 90 days, then are removed by github
      - name: Attach produced build to Github Action
        uses: actions/upload-artifact@v2
        with:
          name: ipfs-webui_${{ github.sha }}-build
          path: build
          if-no-files-found: error
