on:
  workflow_call:

jobs:
  test-unit:
    name: 'test:unit'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --progress=false

      - name: Run unit tests with coverage
        run: npm run test:unit:coverage

      - name: Generate nyc coverage report
        id: coverage
        run: npx nyc report --reporter=lcov

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit_tests
          name: unit-coverage
          fail_ci_if_error: false
          verbose: true
