on:
  workflow_call:

jobs:
  test-unit:
    name: 'test:unit'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0

      - name: Setup node
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18.14.0

      - name: Cache bigger downloads
        uses: actions/cache@v3.3.1
        id: cache
        with:
          path: ${{ github.workspace }}/.cache
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --progress=false --cache ${{ github.workspace }}/.cache/npm

      - name: Run unit tests with coverage
        run: npm run test:unit:coverage

      - name: Generate nyc coverage report
        id: coverage
        run: npx nyc report --reporter=lcov

      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit_tests # optional
          name: unit-coverage # optional
          fail_ci_if_error: false # optional (default = false)
          verbose: true # optional (default = false)
