on:
  workflow_call:

jobs:

  typecheck:
    name: typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16.12.0
      - name: Setup npm@9.6.0
        run: |
          npm install -g npm@9.6.0

      - name: Cache bigger downloads
        uses: actions/cache@v2
        id: cache
        with:
          path: ${{ github.workspace }}/.cache
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --progress=false --cache ${{ github.workspace }}/.cache/npm

      - name: Fancy Typecheck with GH annotations
        uses: gozala/typescript-error-reporter-action@v1.0.8
        with:
          project: tsconfig.json

      # make sure local check is also ok
      - name: Userland check
        run: npm run typecheck
